<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KDL Accessibility</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/
font-awesome/5.15.2/css/all.min.css"/>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <section class="section" id="app">
      <div class="container">
        <h1 class="title is-1">
          KDL Accessibility
        </h1>
        <p>
          Project: 
          <select @change="onChangeProject()" v-model="selection.project">
            <option v-for="project in projects" :value="project.slug">{{ project.name }}</option>
          </select>
        </p>
        <h2 class="title is-2">Issues</h2>
        <table class="table is-striped is-hoverable">
          <thead>
            <tr>
              <td>Webpath</td>
              <td>Level</td>
              <td>Principle</td>
              <td>Guideline</td>
              <td>Rule</td>
              <td>Code</td>
              <td>Target</td>
              <td>Comment</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(issue, idx) in issues">
              <td><a :href="issue.host + issue.webpath">{{ issue.webpath }}</a></td>
              <td>{{ issue.rule.level }}</td>
              <td>{{ issue.rule.principle }}</td>
              <td>{{ issue.rule.guideline }}</td>
              <td>{{ issue.rule.rule }}</td>
              <td>{{ issue.rule.code }}</td>
              <td>{{ issue.rule.target }}</td>
              <td><input type="text" v-model="issue.comment"/></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <script>
      const { createApp } = Vue

      createApp({
        data() {
          return {
            projects: [],
            issues: [],
            selection: {
              project: null
            }
          }
        },
        mounted() {
          fetch('projects.json')
            .then(res => res.json())
            .then(res => {
              this.projects = res
              this.loadSelection()
            })
        },
        watch: {
          selection: {
            deep: true,
            handler(val, valOld) {
              this.saveSelection()
            }
          }
        },
        computed: {
          project() {
            let ret = this.projects.filter(p => p.slug == this.selection.project)
            return ret ? ret[0] : null
          }
        },
        methods: {
          loadSelection() {
            this.selection = JSON.parse(window.localStorage.getItem('a11y.selection'))
            if (!this.selection?.project) {
              this.selection = {project: null}
            }
            this.onChangeProject()
          },
          saveSelection() {
            window.localStorage.setItem('a11y.selection', JSON.stringify(this.selection))
          },
          onChangeProject() {
            // load issues
            fetch(`./projects/${this.selection.project}/a11y-issues.json`)
            .then(res => res.json())
            .then(res => {
              this.issues = res.issues
            })
            .catch(err => this.issues = [])
          }
        }
      }).mount('#app');
    </script>
  </body>
</html>
